section

{
    border-bottom: 10px solid red;
    border-top: 10px solid red;
}

p 

{
    border-bottom: 10px solid red;
}

span 

{
    border: 10px lime;
}

#border__dotted

{

    border-style: dotted;
}

#border__inset 

{
    border-style: inset;
}

#border__crimson 

{
    border: crimson ;
}

img

{
    border-radius: 90%;
    height: 500px;
    width: 500px;
}

div 

{
    border-bottom: 5px greenyellow;
}

button

{
    border-radius: 5px;
    background-color: chocolate;
    border: unset;
}